@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div form {
  margin: 0 auto;
  width: 70%;
  /* margin: 0 auto; */
  background-color: white;
  padding: 1.2rem 6rem;
  box-shadow: -1px 7px 30px rgba(199, 199, 199, 0.349);
  border: none;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}
label {
  font-weight: 600;
  text-align: left;
  flex-grow: 1;
  font-family: "Halant", serif;
}
input,
.option {
  text-align: left;
  color: #797979a9;
  font-size: 0.6rem;
  padding: 0.5rem 6rem 0.5rem 0.8rem;
  border: 1px solid #82828291;
  border-radius: 4px;
  font-family: "Manrope", sans-serif;
}
h1 {
  margin-bottom: 0.4rem;
}
.option {
  padding: 0.5rem 7.5rem 0.5rem 0.9rem;
  text-align: left;
}
.details span {
  font-family: "Manrope", sans-serif;
}
div.details {
  display: flex;
  justify-content: flex-end;
  /* align-content: flex-end; */
  margin: 0.9rem 0;
  flex-wrap: wrap;
}
.details input.skill {
  /* margin: 0 0.3rem; */
  align-self: flex-start;
  font-family: "Manrope", sans-serif;
}
.btn {
  border: none;
  background-color: rgba(21, 94, 239, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  padding: 0.8rem;
  /* width: 14.2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  /* position: relative; */
  margin-left: 33.7rem;
}
.btn:hover {
  background-color: rgba(3, 3, 170, 0.87);
}
@media screen and (max-width: 1200px) {
  div form {
    /* margin: 1rem 9rem; */
    width: 80%;
    padding: 1.5rem 5rem;
  }
  .btn {
    /* width: 14.2rem; */
    margin-left: 27rem;
  }
}
@media screen and (max-width: 800px) {
  div form {
    width: 85%;
    padding: 1.5rem 3rem;
  }
  .btn {
    /* width: 14.2rem; */
    margin-left: 19.6rem;
  }
}
@media screen and (max-width: 500px) {
  div form {
    /* margin: 1rem; */
    width: 90%;
    padding: 1rem;
    font-size: 0.8rem;
  }
  input,
  .option {
    padding: 0.5rem 2rem 0.5rem 0.8rem;
    font-size: 0.6rem;
  }
  .option {
    padding: 0.5rem 3.5rem 0.5rem 0.8rem;
  }
  .details span {
    margin: 0;
    /* align-self: flex-start; */
    font-size: 0.6rem;
  }
  .btn {
    display: block;
    margin: 0;
    width: 100%;
  }
}
